# Import Libraries

In [27]:
import pandas as pd
import yfinance as yf

from datetime import datetime

# Get lastest tickers from YFINANCE

### Fetch from yfinance is limited,so we need to import an external dataset

In [18]:
BTC_Ticker = yf.Ticker("BTC-USD")
BTC_Data = BTC_Ticker.history(period="2y",interval="1m")

- BTC-USD: 1m data not available for startTime=1600670160 and endTime=1663742160. Only 7 days worth of 1m granularity data are allowed to be fetched per request.

In [17]:
BTC_Data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
2020-09-21 06:00:00+00:00,10967.727539,10983.088867,10954.184570,10956.030273,0,0,0
2020-09-21 07:00:00+00:00,10964.450195,10966.044922,10919.763672,10919.763672,162529280,0,0
2020-09-21 08:00:00+00:00,10924.051758,10924.051758,10860.415039,10866.212891,515508224,0,0
2020-09-21 09:00:00+00:00,10868.567383,10882.486328,10754.389648,10754.389648,604065792,0,0
2020-09-21 10:00:00+00:00,10767.381836,10767.381836,10675.044922,10675.044922,854642688,0,0
...,...,...,...,...,...,...,...
2022-09-21 03:00:00+00:00,19014.919922,19019.294922,18996.181641,19014.722656,0,0,0
2022-09-21 04:00:00+00:00,19019.695312,19029.109375,18981.261719,18992.173828,1638400,0,0
2022-09-21 05:00:00+00:00,18994.103516,19093.927734,18994.103516,18998.376953,176369664,0,0
2022-09-21 06:00:00+00:00,18990.607422,18990.607422,18866.675781,18868.806641,393142272,0,0
2022-09-21 06:33:00+00:00,18874.742188,18874.742188,18874.742188,18874.742188,0,0,0

# Use Kaggle Set to get historical Data of BTC per minute

### The dataset has info from 2011-12-31 07:52:00 TO 2021-03-31 00:00:00

In [47]:
df = pd.read_csv("bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv")

In [48]:
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4857377 entries, 0 to 4857376
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   Timestamp          int64
 1   Open               float64
 2   High               float64
 3   Low                float64
 4   Close              float64
 5   Volume_(BTC)       float64
 6   Volume_(Currency)  float64
 7   Weighted_Price     float64
dtypes: float64(7), int64(1)
memory usage: 296.5 MB

In [50]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Timestamp,4857377.0,1.471301e+09,8.428019e+07,1.325318e+09,1.398179e+09,1.471428e+09,1.544288e+09,1.617149e+09
Open,3613769.0,6.009024e+03,8.996247e+03,3.800000e+00,4.438600e+02,3.596970e+03,8.627270e+03,6.176356e+04
High,3613769.0,6.013357e+03,9.003521e+03,3.800000e+00,4.440000e+02,3.598190e+03,8.632980e+03,6.178183e+04
Low,3613769.0,6.004488e+03,8.988778e+03,1.500000e+00,4.435200e+02,3.595620e+03,8.621090e+03,6.167355e+04
Close,3613769.0,6.009014e+03,8.996360e+03,1.500000e+00,4.438600e+02,3.597000e+03,8.627160e+03,6.178180e+04
Volume_(BTC),3613769.0,9.323249e+00,3.054989e+01,0.000000e+00,4.097759e-01,1.979811e+00,7.278216e+00,5.853852e+03
Volume_(Currency),3613769.0,4.176284e+04,1.518248e+05,0.000000e+00,4.521422e+02,3.810124e+03,2.569821e+04,1.390067e+07
Weighted_Price,3613769.0,6.008935e+03,8.995992e+03,3.800000e+00,4.438306e+02,3.596804e+03,8.627637e+03,6.171621e+04

In [55]:
# CHANGE UNIX TIME TO DATE TYPE STR TEMPLATE
ts = int('1284101485')

# if you encounter a "year is out of range" error the timestamp
# may be in milliseconds, try `ts /= 1000` in that case
print(datetime.utcfromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S'))

2010-09-10 06:51:25

### Convert timestamp for every row in timestamp attribute

In [57]:
for i in range(df["Timestamp"].size):
    df['Timestamp'][i] = datetime.utcfromtimestamp(df['Timestamp'][i]).strftime('%Y-%m-%d %H:%M:%S')

/var/folders/fn/0t1gngls6x39txrdzml_kv3w0000gn/T/ipykernel_4681/2970177134.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Timestamp'][i] = datetime.utcfromtimestamp(df['Timestamp'][i]).strftime('%Y-%m-%d %H:%M:%S')

In [58]:
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 07:52:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,2011-12-31 07:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-12-31 07:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-12-31 07:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-12-31 07:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN