# Import Libraries

In [27]:
import pandas as pd
import yfinance as yf

from datetime import datetime

# Get lastest tickers from YFINANCE

### Fetch from yfinance is limited,so we need to import an external dataset

In [18]:
BTC_Ticker = yf.Ticker("BTC-USD")
BTC_Data = BTC_Ticker.history(period="2y",interval="1m")

- BTC-USD: 1m data not available for startTime=1600670160 and endTime=1663742160. Only 7 days worth of 1m granularity data are allowed to be fetched per request.

In [17]:
BTC_Data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
2020-09-21 06:00:00+00:00,10967.727539,10983.088867,10954.184570,10956.030273,0,0,0
2020-09-21 07:00:00+00:00,10964.450195,10966.044922,10919.763672,10919.763672,162529280,0,0
2020-09-21 08:00:00+00:00,10924.051758,10924.051758,10860.415039,10866.212891,515508224,0,0
2020-09-21 09:00:00+00:00,10868.567383,10882.486328,10754.389648,10754.389648,604065792,0,0
2020-09-21 10:00:00+00:00,10767.381836,10767.381836,10675.044922,10675.044922,854642688,0,0
...,...,...,...,...,...,...,...
2022-09-21 03:00:00+00:00,19014.919922,19019.294922,18996.181641,19014.722656,0,0,0
2022-09-21 04:00:00+00:00,19019.695312,19029.109375,18981.261719,18992.173828,1638400,0,0
2022-09-21 05:00:00+00:00,18994.103516,19093.927734,18994.103516,18998.376953,176369664,0,0
2022-09-21 06:00:00+00:00,18990.607422,18990.607422,18866.675781,18868.806641,393142272,0,0
2022-09-21 06:33:00+00:00,18874.742188,18874.742188,18874.742188,18874.742188,0,0,0

# Use Kaggle Set to get historical Data of BTC per minute

### The dataset has info from 2011-12-31 07:52:00 TO 2021-03-31 00:00:00

In [47]:
# Get the kaggle set at:
# https://www.kaggle.com/datasets/mczielinski/bitcoin-historical-data?resource=download

df = pd.read_csv("bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv")

In [48]:
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4857377 entries, 0 to 4857376
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   Timestamp          int64
 1   Open               float64
 2   High               float64
 3   Low                float64
 4   Close              float64
 5   Volume_(BTC)       float64
 6   Volume_(Currency)  float64
 7   Weighted_Price     float64
dtypes: float64(7), int64(1)
memory usage: 296.5 MB

In [50]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Timestamp,4857377.0,1.471301e+09,8.428019e+07,1.325318e+09,1.398179e+09,1.471428e+09,1.544288e+09,1.617149e+09
Open,3613769.0,6.009024e+03,8.996247e+03,3.800000e+00,4.438600e+02,3.596970e+03,8.627270e+03,6.176356e+04
High,3613769.0,6.013357e+03,9.003521e+03,3.800000e+00,4.440000e+02,3.598190e+03,8.632980e+03,6.178183e+04
Low,3613769.0,6.004488e+03,8.988778e+03,1.500000e+00,4.435200e+02,3.595620e+03,8.621090e+03,6.167355e+04
Close,3613769.0,6.009014e+03,8.996360e+03,1.500000e+00,4.438600e+02,3.597000e+03,8.627160e+03,6.178180e+04
Volume_(BTC),3613769.0,9.323249e+00,3.054989e+01,0.000000e+00,4.097759e-01,1.979811e+00,7.278216e+00,5.853852e+03
Volume_(Currency),3613769.0,4.176284e+04,1.518248e+05,0.000000e+00,4.521422e+02,3.810124e+03,2.569821e+04,1.390067e+07
Weighted_Price,3613769.0,6.008935e+03,8.995992e+03,3.800000e+00,4.438306e+02,3.596804e+03,8.627637e+03,6.171621e+04

In [55]:
# CHANGE UNIX TIME TO DATE TYPE STR TEMPLATE
ts = int('1284101485')

# if you encounter a "year is out of range" error the timestamp
# may be in milliseconds, try `ts /= 1000` in that case
print(datetime.utcfromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S'))

2010-09-10 06:51:25

### Convert timestamp for every row in timestamp attribute

In [57]:
for i in range(df["Timestamp"].size):
    df['Timestamp'][i] = datetime.utcfromtimestamp(df['Timestamp'][i]).strftime('%Y-%m-%d %H:%M:%S')

/var/folders/fn/0t1gngls6x39txrdzml_kv3w0000gn/T/ipykernel_4681/2970177134.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Timestamp'][i] = datetime.utcfromtimestamp(df['Timestamp'][i]).strftime('%Y-%m-%d %H:%M:%S')

In [58]:
# the NAN values means there was no change, which happens at the beginnning of the dataset and it reduces its incidence over the years
# Where there is no timestamp means no actual data for that moment

df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 07:52:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,2011-12-31 07:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-12-31 07:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-12-31 07:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-12-31 07:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Deal wit Null Values

In [83]:
df.iloc[4000000:].isnull().sum()

Timestamp                0
Open                 11711
High                 11711
Low                  11711
Close                11711
Volume_(BTC)         11711
Volume_(Currency)    11711
Weighted_Price       11711
dtype: int64

In [75]:
df.isnull().sum() #check for null values

Timestamp                  0
Open                 1243608
High                 1243608
Low                  1243608
Close                1243608
Volume_(BTC)         1243608
Volume_(Currency)    1243608
Weighted_Price       1243608
dtype: int64

In [72]:
df_nn = df.fillna(method='bfill') # as null means no change from previous value, we backfill to replace nan

# Create DF to be analyzed
### Create DF for the desired periodsof time to analyze and the desired intervals

In [89]:
df_nn.iloc[::525951] # this will grab the value for 1 minute period for example

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 07:52:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
525951,2012-12-30 13:43:00,13.26,13.28,13.26,13.28,17.927994,238.043042,13.277729
1051902,2013-12-30 19:34:00,737.97,737.97,737.97,737.97,2.380000,1756.368600,737.970000
1577853,2014-12-31 01:25:00,311.32,311.32,311.32,311.32,1.915192,596.237598,311.320000
2103804,2016-01-04 19:08:00,433.00,433.01,432.23,433.01,7.351045,3180.452982,432.653176
2629755,2017-01-04 00:59:00,1032.97,1032.97,1032.33,1032.33,0.137426,141.901468,1032.567510
3155706,2018-01-04 06:50:00,15041.49,15041.49,14950.08,15015.79,9.747429,146211.841100,15000.042170
3681657,2019-01-04 12:41:00,3785.93,3786.54,3780.92,3782.98,18.791312,71117.792341,3784.610193
4207608,2020-01-04 18:32:00,7345.98,7347.91,7344.76,7345.07,0.708538,5204.977115,7346.076773
4733559,2021-01-04 00:23:00,33020.71,33118.83,33020.71,33118.83,1.103991,36545.561819,33103.124234

In [90]:
#Stating different intervals for the df form 1 minute to 1 year
df_1min = df_nn
df_5min = df_nn.iloc[::5]
df_15min = df_nn.iloc[::15]
df_30min = df_nn.iloc[::30]
df_45min = df_nn.iloc[::45]
df_1hour = df_nn.iloc[::60]
df_4hour = df_nn.iloc[::240]
df_1day = df_nn.iloc[::1440]
df_3day = df_nn.iloc[::4320]
df_1w = df_nn.iloc[::10080]
df_2w = df_nn.iloc[::20160]
df_1m = df_nn.iloc[::43829]
df_3m = df_nn.iloc[::131488]
df_6m = df_nn.iloc[::262976]
df_1y = df_nn.iloc[::525951]